---
layout: page
title: Teaching
active_menu_title: "Teaching"
nav-bg: bg-base03
---

<section class="slice">
    <div class="row">
    <div class="col-lg-8 col-md-12">
      {% assign card_list = site.data.teaching.courses %}
      <h3 class="mb-4"><span class="k-border-cyan">{{ site.data.teaching.courses.title }}</span></h3>
      {% for data in site.data.teaching.courses.list %}
      <div class="card card-pricing mb-5 bg-lightest border-0">
          <div class="card-body">
              <h6 class="text-muted mb-1">{{ data.year }}</h6>
              <h5 class="heading heading-5 strong-600 mb-4 k-subheader">{{ data.title }}</h5>
              <p class="card-text">{{ data.description }}</p>
          </div>
        </div>
      {% endfor %}

      {% assign card_list = site.data.teaching.workshops %}
      <h3 class="mb-4"><span class="k-border-magenta">{{ site.data.teaching.workshops.title }}</span></h3>
      {% for data in site.data.teaching.workshops.list %}
      <div class="card card-pricing mb-5 bg-lightest border-0">
          <div class="card-body">
              <h6 class="text-muted mb-1">{{ data.year }}</h6>
              <h5 class="heading heading-5 strong-600 mb-4 k-subheader">{{ data.title }}</h5>
              <p class="card-text">{{ data.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-lg-4 col-md-12">
      {% assign card_list = site.data.teaching.conference_workshops %}
      <h3 class="mb-4"><span class="k-border-blue">{{ site.data.teaching.conference_workshops.title }}</span></h3>
      {% for data in site.data.teaching.conference_workshops.list %}
      <div class="card card-pricing mb-5 bg-lightest border-0">
          <div class="card-body">
              <h6 class="text-muted mb-2">{{ data.year }}</h6>
              <h5 class="heading heading-5 mb-3 strong-600 k-subheader">{{ data.title }}</h5>
              <p class="lh-150 mb-2 strong-600">{{ data.authors }}</p>
              <p class="card-text lh-150">{{ data.venue }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
</section>