---
layout: page_with_header
title: Bio
active_menu_title: "Bio"
---
{% assign header_text = site.data.homepage.cards.two.description %}
{% include _page_header.html %}

<main class="main">
  <div class="container">
    <section class="slice slice-lg">
      <h3 class="mt-4 mb-4"><span class="k-border-cyan">Bio</span></h3>

      <div class="row">
        <div class="col-lg-7 col-md-12">
        {% for section in site.data.bio.timeline %}
           <div class="card card-pricing mb-5 border-0 bg-lightest">
              <div class="card-body px-5">
                <h4 class="mb-4">{{ section.name }}</h4>
                {% assign items = section.items | sort: 'year' | reverse %}
                {% assign items_grouped = items | group_by: 'year' %}

                <div class="timeline">
                  <div class="timeline-container ">
                    {% for group in items_grouped %}
                      <section class="year">
                          <h3>{{ group.name }}</h3>

                            {% for item in group.items %}
                            {% if item.context != nil %}
                              <section class="with-context">
                                <h4 class="text-muted">{{ item.context }}</h4>
                            {% else %}
                              <section>
                            {% endif %}
                              <ul>
                                <li>{{ item.note }}</li>
                              </ul>
                              </section>
                            {% endfor %}
                      </section>
                    {% endfor %}
                  </div>
                </div>
              </div>
          </div>
        {% endfor %}
        </div>

        <div class="col-lg-5 col-md-12">
          {% assign selection = site.data.bio.skills %}
          <div class="card card-pricing mb-5 border-0 bg-lightest">
              <div class="card-body px-5">
                <h4 class="mb-4">{{ selection.title }}</h4>
                {% for skill in selection.items %}
                  <b>{{ skill.name }}</b>
                  <p>{{ skill.description }}</p>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</main>