---
layout: page
title: Teaching
active_menu_title: "Teaching"
---

<section class="slice">
    <div class="row">
    <div class="col-lg-8 col-md-12">
      {% assign card_list = site.data.teaching.courses %}
      <h3 class="mb-4">{{ site.data.teaching.courses.title }}</h3>
      {% for data in site.data.teaching.courses.list %}
      <div class="card card-pricing mb-5 popular-secondary">
          <div class="card-body">
              <h5 class="heading heading-5 strong-600 mb-4 k-subheader">{{ data.title }}</h5>
              <h6 class="text-muted">{{ data.year }}</h6>
              <p class="card-text">{{ data.description }}</p>
          </div>
        </div>
      {% endfor %}

      {% assign card_list = site.data.teaching.workshops %}
      <h3 class="mb-4">{{ site.data.teaching.workshops.title }}</h3>
      {% for data in site.data.teaching.workshops.list %}
      <div class="card card-pricing mb-5 popular-secondary">
          <div class="card-body">
              <h5 class="heading heading-5 strong-600 mb-4 k-subheader">{{ data.title }}</h5>
              <h6 class="text-muted">{{ data.year }}</h6>
              <p class="card-text">{{ data.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-lg-4 col-md-12">
      {% assign card_list = site.data.teaching.conference_workshops %}
      <h3 class="mb-4">{{ site.data.teaching.conference_workshops.title }}</h3>
      {% for data in site.data.teaching.conference_workshops.list %}
      <div class="card card-pricing mb-5 popular-secondary">
          <div class="card-body">
              <h5 class="heading heading-5 strong-600 mb-4 k-subheader">{{ data.title }}</h5>
              <h6 class="text-muted">{{ data.year }} {{ data.authors }}</h6>
              <p class="card-text">{{ data.venue }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
</section>