<section class="mt-0 py-4 bg-cyan border-bottom">
  <div class="container">
    <div class="d-flex align-items-center pt-5 pr-3 justify-content-left">
      <span class="heading h5 text-white mb-0 ml-0 pt-2" style="text-align: justify; font-size: 1.20rem; font-variant: all-petite-caps;">// {{ header_text }} //</span>
    </div>
  </div>
</section>

<!-- <section class="mt-0 py-4 bg-white border-bottom" style="opacity: 0.8;">
  <div class="container">
    <h1> Research <h1>
      <span class="heading h2 mb-0 ml-0 pt-2" style="text-align: justify; font-size: 1.20rem; font-variant: all-petite-caps;">:: {{ header_text }} ::</span>
  </div>
</section> -->