<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-secondary py-4 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="../"><strong>Paul</strong> Strohmeier</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar_main">
      <ul class="navbar-nav ml-auto align-items-lg-left">
        <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Menu</h6>
        {% for menu_item in site.data.website.menu %}
          <li class="nav-item">
            <a class="nav-link" href="{{ menu_item.url }}">{{ menu_item.title }}</a>
          </li>
        {% endfor %}
        <div class="dropdown-divider d-lg-none my-4"></div>
        <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Social Media</h6>
        {% if site.data.website.contact.github %}
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="{{ site.data.website.contact.github }}" target="_blank"><i class="fab fa-github"></i><span class="ml-2 d-lg-none">Github</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>