<section class="spotlight parallax bg-cover bg-size--cover" style="background-image: url('../assets/images/backgrounds/img-3.jpg')">
    <span class="mask bg-tertiary alpha-7"></span>
    <div class="spotlight-holder py-lg pt-lg-xl" style="height: 400px;">
      <div class="container d-flex align-items-center no-padding">
        <div class="col">
          <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
            <div class="col-lg-7">
              <div class="text-center mt-5">
                <h1 class="heading h1 text-white">
                  {{ page.title }}
                </h1>
                <p class="lead lh-180 text-white mt-3">
                  {{ page.subtitle }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>