/*
Add your custom styles below
*/
@import "_custom-variables.scss";

// Container width override for XL screen
@media only screen and (min-width : 1200px) {
    .container { max-width: 1360px; }
}

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
body {
  padding-top: 94px;
  @media only screen and (max-width : 767px) {
    padding-top: 42px;
  }
  background-color: white;
}

.light {
  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)
}
.dark  {
  @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)
}

a.nav-link {
  border-radius: 0rem !important;
}
a.nav-link.bg-white:hover {
  background-color: white !important;
}

.navbar.navbar-translucent {
  background-color: rgba(04,43,54,0.8) !important;
}

section.slice {
  padding-top: 1rem;
  padding-bottom: 2rem;
}


.k-border-red {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($red, 70%) 60%);
}

.k-border-orange {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($orange, 70%) 60%);
}

.k-border-green {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($green, 70%) 60%);
}

.k-border-cyan {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($cyan, 70%) 60%);
}

.k-border-blue {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($blue, 70%) 60%);
}

.k-border-magenta {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($magenta, 70%) 60%);
}

.k-border-yellow {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($yellow, 70%) 60%);
}

.k-border-violet {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba($violet, 70%) 60%);
}

.bg-lightest {
  background: linear-gradient(#f5f5f5, white);
}
.bg-cyan-ll {
  background: linear-gradient(theme-color("cyan-l"), theme-color("cyan-ll") 80%);
}
.bg-magenta-ll {
  background: linear-gradient(theme-color("magenta-l"), theme-color("magenta-ll") 80%);
}
.bg-gray-ll {
  background: linear-gradient(theme-color("gray-l"), theme-color("gray-ll") 80%);
}

// .fullscreen-bg {
//     position: relative;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     overflow: hidden;
//     z-index: -100;
// }

// .fullscreen-bg__video {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: auto;
//     height: auto;
//     min-width: 100%;
//     min-height: 100%;
//     -webkit-transform: translate(-50%, -50%);
//        -moz-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//       transform: translate(-50%, -50%);
// }

// @media (max-width: 1100px) {
//     .fullscreen-bg {
//         display: none;
//         // background: url('uploads/video/stable_background.mp4') center center / cover no-repeat;
//     }

//     .fullscreen-bg__video {
//         display: none;
//     }
// }

// [-==================================]

// header {
//   position: relative;
//   background-color: black;
//   height: 75vh;
//   min-height: 25rem;
//   width: 100%;
//   overflow: hidden;
// }

// header video {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: 0;
//   -ms-transform: translateX(-50%) translateY(-50%);
//   -moz-transform: translateX(-50%) translateY(-50%);
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
// }

// header .container {
//   position: relative;
//   z-index: 2;
// }

// header .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background-color: black;
//   opacity: 0.5;
//   z-index: 1;
// }

// @media (pointer: coarse) and (hover: none) {
//   header {
//     background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
//   }
//   header video {
//     display: none;
//   }
// }